<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>RetrievingProductID</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name></display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
</web-app>